{% load static %}
<html>
<head>
    <title>Paul's blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</haed>
<body>
<nav class="navbar navbar-light bg-white">
{% if user.is_authenticated %}
<div class="form-inline">
<a href="{% url 'post_new' %}"><button class="btn btn-outline-secondary mr-1">New post</button></a>
<a href="{% url 'post_draft_list' %}"><button class="btn btn-outline-secondary">Draft</button></a>
</div>
<p>Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
{% else %}
<a href="{% url 'login' %}"><button class="btn btn-outline-secondary">Login</button></a>
{% endif %}
</nav>


{% block content %}
{% endblock %}
</body>
</html>