{% extends 'blog/base.html' %}
{% block content %}
    <div class="post">
    {% if post.published_date %}
        <div class="name">
        {{ post.published_date }}
        </div>
    {% else %}
        <a href="{% url 'post_publish' pk=post.pk %}"><button>Publish</button></a>
    {% endif %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.text|linebreaksbr }}</p>
    </div>
    {% if user.is_authenticated %}
        <a href="{% url 'post_edit' pk=post.pk %}"><button>Edit</button></a>
        <a href="{% url 'post_remove' pk=post.pk %}"><button>Remove</button></a>
    {% endif %}
    <hr>
    <a href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
    {% for comment in post.comments.all %}
    {% if user.is_authenticated or comment.approved_comment %}
    <p>{{ comment.created_date }}</p>
    <p>{{ comment.author }}</p>
    <p>{{ comment.text|linebreaks }}</p>   
        {% if not comment.approved_comment %}
        <hr>
        <a href="{% url 'comment_remove' pk=comment.pk %}">remove</a>
        <a href="{% url 'comment_approve' pk=comment.pk %}">add</a>
        
        {% endif %}
    {% endif %}
    {% empty %}
    <p>No comments here yet :(</p>
    {% endfor %}
{% endblock content %}
