{% extends 'blog/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="blogTitle">Paul's Django Blog</h1> 
            <small>https://github.com/Tetsumote/vscode-djaneiro</small>
            <div>
                {% for post in posts %}
                    
                    <h4><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }} </a><small> | published: {{ post.published_date }}</small></h4>
                    <p> {{ post.text|linebreaksbr }} </p>
                    <a href="{% url 'post_detail' pk=post.pk %}"><button>more {{post.title}}</button></a>
                    <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
